body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 40rem;

  padding: min(5rem, 8%);
}

.login .title {
  margin-bottom: 1rem;
}

.login .tip {
  margin-bottom: 1.5rem;
  height: 2rem;
}

@media (max-width: 490px) {
  .login .tip {
    height: 3.5rem;
  }
}

@media (max-width: 320px) {
  .login .tip {
    height: 5rem;
  }
}

.login .password {
  display: block;
  margin-bottom: 1rem;
  height: 2rem;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary);
  outline: none;
  caret-color: var(--accent);
}

.login .button {
  padding: 0.7rem 2rem;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  border: none;
  outline: none;

  transition: all 0.2s;
}

.login .button:hover {
  transform: scale(102%);
  cursor: pointer;
}

.login .button:active {
  background-color: var(--black);
  transform: scale(98%);
}

.login .incorrect {
  margin-top: 2rem;
  display: block;
  color: red;
  font-style: italic;
}

.login .status {
  height: 1.2rem;
}
